.entry-content:before,
.entry-content:after {
    content: " ";
    display: table;
}
.entry-content:after {
    clear: both;
}


.entry-content__wrapper {
    border-bottom: 2px dotted #b5b5b5;
}
.entry-content__wrapper:before,
.entry-content__wrapper:after {
    content: " ";
    display: table;
}
.entry-content__wrapper:after {
    clear: both;
}
.entry-content__pagination {
    float: right;
    margin-top: 20px;
}
