<div class="entry-content">

    <div class="entry-content__wrapper">

        <div class="entry-content__row entry-content__item">
            <div class="entry-content__pic">
                <a href="#" class="entry-content__thumbnail">
                    <img class="entry-content__img" src="" alt="" />
                </a>
            </div>
            <div class="entry-content__meta">
                <div class="entry-content__text">
                    <p>Foliomania the designer portfolio brochure</p>
                </div>
                <div class="entry-content__price"><i>$150.00</i><span></span></div>
                <div class="entry-content__ctrl">
                    <div class="drop-down-gr">
                        <button class="drop-down-gr__button drop-down-gr__button_orange drop-down-gr__button_sm">
                            <img src="/img/basket.png" alt="">
                        </button>
                    </div>
                    <div class="drop-down-gr">
                        <button class="drop-down-gr__button drop-down-gr__button_def drop-down-gr__button_sm">
                            <img src="/img/heart.png" alt="">
                        </button>
                    </div>
                    <div class="drop-down-gr">
                        <button class="drop-down-gr__button drop-down-gr__button_def drop-down-gr__button_smh">
                            <img src="/img/refresh.png" alt="">
                        </button>
                    </div>
                    <div class="entry-content__stars">
                        <a href="#"><img src="/img/y-star.png" alt=""></a>
                        <a href="#"><img src="/img/y-star.png" alt=""></a>
                        <a href="#"><img src="/img/y-star.png" alt=""></a>
                        <a href="#"><img src="/img/g-star.png" alt=""></a>
                        <a href="#"><img src="/img/g-star.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="entry-content__row entry-content__item">
            <div class="entry-content__pic">
                <a href="#" class="entry-content__thumbnail">
                    <img class="entry-content__img" src="" alt="" />
                </a>
            </div>
            <div class="entry-content__meta">
                <div class="entry-content__text">
                    <p>Foliomania the designer portfolio brochure</p>
                </div>
                <div class="entry-content__price"><i>$150.00</i><span></span></div>
                <div class="entry-content__ctrl">
                    <div class="drop-down-gr">
                        <button class="drop-down-gr__button drop-down-gr__button_orange drop-down-gr__button_sm">
                            <img src="/img/basket.png" alt="">
                        </button>
                    </div>
                    <div class="drop-down-gr">
                        <button class="drop-down-gr__button drop-down-gr__button_def drop-down-gr__button_sm">
                            <img src="/img/heart.png" alt="">
                        </button>
                    </div>
                    <div class="drop-down-gr">
                        <button class="drop-down-gr__button drop-down-gr__button_def drop-down-gr__button_smh">
                            <img src="/img/refresh.png" alt="">
                        </button>
                    </div>
                    <div class="entry-content__stars">
                        <a href="#"><img src="/img/y-star.png" alt=""></a>
                        <a href="#"><img src="/img/y-star.png" alt=""></a>
                        <a href="#"><img src="/img/y-star.png" alt=""></a>
                        <a href="#"><img src="/img/g-star.png" alt=""></a>
                        <a href="#"><img src="/img/g-star.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="entry-content__row entry-content__item">
            <div class="entry-content__pic">
                <a href="#" class="entry-content__thumbnail">
                    <img class="entry-content__img" src="" alt="" />
                </a>
            </div>
            <div class="entry-content__meta">
                <div class="entry-content__text">
                    <p>Foliomania the designer portfolio brochure</p>
                </div>
                <div class="entry-content__price"><i>$150.00</i><span></span></div>
                <div class="entry-content__ctrl">
                    <div class="drop-down-gr">
                        <button class="drop-down-gr__button drop-down-gr__button_orange drop-down-gr__button_sm">
                            <img src="/img/basket.png" alt="">
                        </button>
                    </div>
                    <div class="drop-down-gr">
                        <button class="drop-down-gr__button drop-down-gr__button_def drop-down-gr__button_sm">
                            <img src="/img/heart.png" alt="">
                        </button>
                    </div>
                    <div class="drop-down-gr">
                        <button class="drop-down-gr__button drop-down-gr__button_def drop-down-gr__button_smh">
                            <img src="/img/refresh.png" alt="">
                        </button>
                    </div>
                    <div class="entry-content__stars">
                        <a href="#"><img src="/img/y-star.png" alt=""></a>
                        <a href="#"><img src="/img/y-star.png" alt=""></a>
                        <a href="#"><img src="/img/y-star.png" alt=""></a>
                        <a href="#"><img src="/img/g-star.png" alt=""></a>
                        <a href="#"><img src="/img/g-star.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="entry-content__row entry-content__item">
            <div class="entry-content__pic">
                <a href="#" class="entry-content__thumbnail">
                    <img class="entry-content__img" src="" alt="" />
                </a>
            </div>
            <div class="entry-content__meta">
                <div class="entry-content__text">
                    <p>Foliomania the designer portfolio brochure</p>
                </div>
                <div class="entry-content__price"><i>$150.00</i><span></span></div>
                <div class="entry-content__ctrl">
                    <div class="drop-down-gr">
                        <button class="drop-down-gr__button drop-down-gr__button_orange drop-down-gr__button_sm">
                            <img src="/img/basket.png" alt="">
                        </button>
                    </div>
                    <div class="drop-down-gr">
                        <button class="drop-down-gr__button drop-down-gr__button_def drop-down-gr__button_sm">
                            <img src="/img/heart.png" alt="">
                        </button>
                    </div>
                    <div class="drop-down-gr">
                        <button class="drop-down-gr__button drop-down-gr__button_def drop-down-gr__button_smh">
                            <img src="/img/refresh.png" alt="">
                        </button>
                    </div>
                    <div class="entry-content__stars">
                        <a href="#"><img src="/img/y-star.png" alt=""></a>
                        <a href="#"><img src="/img/y-star.png" alt=""></a>
                        <a href="#"><img src="/img/y-star.png" alt=""></a>
                        <a href="#"><img src="/img/g-star.png" alt=""></a>
                        <a href="#"><img src="/img/g-star.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="entry-content__row entry-content__item">
            <div class="entry-content__pic">
                <a href="#" class="entry-content__thumbnail">
                    <img class="entry-content__img" src="" alt="" />
                </a>
            </div>
            <div class="entry-content__meta">
                <div class="entry-content__text">
                    <p>Foliomania the designer portfolio brochure</p>
                </div>
                <div class="entry-content__price"><i>$150.00</i><span></span></div>
                <div class="entry-content__ctrl">
                    <div class="drop-down-gr">
                        <button class="drop-down-gr__button drop-down-gr__button_orange drop-down-gr__button_sm">
                            <img src="/img/basket.png" alt="">
                        </button>
                    </div>
                    <div class="drop-down-gr">
                        <button class="drop-down-gr__button drop-down-gr__button_def drop-down-gr__button_sm">
                            <img src="/img/heart.png" alt="">
                        </button>
                    </div>
                    <div class="drop-down-gr">
                        <button class="drop-down-gr__button drop-down-gr__button_def drop-down-gr__button_smh">
                            <img src="/img/refresh.png" alt="">
                        </button>
                    </div>
                    <div class="entry-content__stars">
                        <a href="#"><img src="/img/y-star.png" alt=""></a>
                        <a href="#"><img src="/img/y-star.png" alt=""></a>
                        <a href="#"><img src="/img/y-star.png" alt=""></a>
                        <a href="#"><img src="/img/g-star.png" alt=""></a>
                        <a href="#"><img src="/img/g-star.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="entry-content__row entry-content__item">
            <div class="entry-content__pic">
                <a href="#" class="entry-content__thumbnail">
                    <img class="entry-content__img" src="" alt="" />
                </a>
            </div>
            <div class="entry-content__meta">
                <div class="entry-content__text">
                    <p>Foliomania the designer portfolio brochure</p>
                </div>
                <div class="entry-content__price"><i>$150.00</i><span></span></div>
                <div class="entry-content__ctrl">
                    <div class="drop-down-gr">
                        <button class="drop-down-gr__button drop-down-gr__button_orange drop-down-gr__button_sm">
                            <img src="/img/basket.png" alt="">
                        </button>
                    </div>
                    <div class="drop-down-gr">
                        <button class="drop-down-gr__button drop-down-gr__button_def drop-down-gr__button_sm">
                            <img src="/img/heart.png" alt="">
                        </button>
                    </div>
                    <div class="drop-down-gr">
                        <button class="drop-down-gr__button drop-down-gr__button_def drop-down-gr__button_smh">
                            <img src="/img/refresh.png" alt="">
                        </button>
                    </div>
                    <div class="entry-content__stars">
                        <a href="#"><img src="/img/y-star.png" alt=""></a>
                        <a href="#"><img src="/img/y-star.png" alt=""></a>
                        <a href="#"><img src="/img/y-star.png" alt=""></a>
                        <a href="#"><img src="/img/g-star.png" alt=""></a>
                        <a href="#"><img src="/img/g-star.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="entry-content__row entry-content__item">
            <div class="entry-content__pic">
                <a href="#" class="entry-content__thumbnail">
                    <img class="entry-content__img" src="" alt="" />
                </a>
            </div>
            <div class="entry-content__meta">
                <div class="entry-content__text">
                    <p>Foliomania the designer portfolio brochure</p>
                </div>
                <div class="entry-content__price"><i>$150.00</i><span></span></div>
                <div class="entry-content__ctrl">
                    <div class="drop-down-gr">
                        <button class="drop-down-gr__button drop-down-gr__button_orange drop-down-gr__button_sm">
                            <img src="/img/basket.png" alt="">
                        </button>
                    </div>
                    <div class="drop-down-gr">
                        <button class="drop-down-gr__button drop-down-gr__button_def drop-down-gr__button_sm">
                            <img src="/img/heart.png" alt="">
                        </button>
                    </div>
                    <div class="drop-down-gr">
                        <button class="drop-down-gr__button drop-down-gr__button_def drop-down-gr__button_smh">
                            <img src="/img/refresh.png" alt="">
                        </button>
                    </div>
                    <div class="entry-content__stars">
                        <a href="#"><img src="/img/y-star.png" alt=""></a>
                        <a href="#"><img src="/img/y-star.png" alt=""></a>
                        <a href="#"><img src="/img/y-star.png" alt=""></a>
                        <a href="#"><img src="/img/g-star.png" alt=""></a>
                        <a href="#"><img src="/img/g-star.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="entry-content__row entry-content__item">
            <div class="entry-content__pic">
                <a href="#" class="entry-content__thumbnail">
                    <img class="entry-content__img" src="" alt="" />
                </a>
            </div>
            <div class="entry-content__meta">
                <div class="entry-content__text">
                    <p>Foliomania the designer portfolio brochure</p>
                </div>
                <div class="entry-content__price"><i>$150.00</i><span></span></div>
                <div class="entry-content__ctrl">
                    <div class="drop-down-gr">
                        <button class="drop-down-gr__button drop-down-gr__button_orange drop-down-gr__button_sm">
                            <img src="/img/basket.png" alt="">
                        </button>
                    </div>
                    <div class="drop-down-gr">
                        <button class="drop-down-gr__button drop-down-gr__button_def drop-down-gr__button_sm">
                            <img src="/img/heart.png" alt="">
                        </button>
                    </div>
                    <div class="drop-down-gr">
                        <button class="drop-down-gr__button drop-down-gr__button_def drop-down-gr__button_smh">
                            <img src="/img/refresh.png" alt="">
                        </button>
                    </div>
                    <div class="entry-content__stars">
                        <a href="#"><img src="/img/y-star.png" alt=""></a>
                        <a href="#"><img src="/img/y-star.png" alt=""></a>
                        <a href="#"><img src="/img/y-star.png" alt=""></a>
                        <a href="#"><img src="/img/g-star.png" alt=""></a>
                        <a href="#"><img src="/img/g-star.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="entry-content__row entry-content__item">
            <div class="entry-content__pic">
                <a href="#" class="entry-content__thumbnail">
                    <img class="entry-content__img" src="" alt="" />
                </a>
            </div>
            <div class="entry-content__meta">
                <div class="entry-content__text">
                    <p>Foliomania the designer portfolio brochure</p>
                </div>
                <div class="entry-content__price"><i>$150.00</i><span></span></div>
                <div class="entry-content__ctrl">
                    <div class="drop-down-gr">
                        <button class="drop-down-gr__button drop-down-gr__button_orange drop-down-gr__button_sm">
                            <img src="/img/basket.png" alt="">
                        </button>
                    </div>
                    <div class="drop-down-gr">
                        <button class="drop-down-gr__button drop-down-gr__button_def drop-down-gr__button_sm">
                            <img src="/img/heart.png" alt="">
                        </button>
                    </div>
                    <div class="drop-down-gr">
                        <button class="drop-down-gr__button drop-down-gr__button_def drop-down-gr__button_smh">
                            <img src="/img/refresh.png" alt="">
                        </button>
                    </div>
                    <div class="entry-content__stars">
                        <a href="#"><img src="/img/y-star.png" alt=""></a>
                        <a href="#"><img src="/img/y-star.png" alt=""></a>
                        <a href="#"><img src="/img/y-star.png" alt=""></a>
                        <a href="#"><img src="/img/g-star.png" alt=""></a>
                        <a href="#"><img src="/img/g-star.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="entry-content__pagination pagination">
        <div class="pagination__title">
            <p>Showing 1-6 of 156</p>
        </div>
        <ul class="pagination__list">
            <li class="pagination__left"><a href="#">&laquo;</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li class="pagination__right"><a href="#">&raquo;</a></li>
        </ul>
    </div>

</div>