<!-- BEGIN  nav-->
<div class="nav">
    <div class="nav__in">
        <ul class="nav__list">
            <li class="nav__item">
                <a href="javascript:void(0)"></a>
            </li>
            <li class="nav__item"><a href="javascript:void(0)">WOMEN</a></li>
            <li class="nav__item"><a href="javascript:void(0)">MEN</a></li>
            <li class="nav__item"><a href="javascript:void(0)">CHILDREN</a></li>
            <li class="nav__item"><a href="javascript:void(0)">FOOTWEAR</a></li>
            <li class="nav__item"><a href="javascript:void(0)">ACCESSORIES</a></li>
            <li class="nav__item"><a href="javascript:void(0)">OUTLET</a></li>
            <li class="nav__item"><a href="javascript:void(0)">DESIGNERS</a></li>
            <li class="nav__item"><a href="javascript:void(0)">COMMUNITY</a></li>
        </ul>
    </div>
</div>
<!-- END nav-->