<!-- BEGIN  topline-->
<div class="topline">
    <div class="topline__in">
        <div class="topline__visitor">
            <p class="topline__greeting">Welcome Visitor,</p>
            <a href="javascript:void(0)" class="topline__login"><i>Login</i></a>
            <p class="topline__greeting">or</p>
            <a href="javascript:void(0)" class="topline__create-account"><i>Create an Account</i></a>
        </div>
        <div class="topline__menu">
            <a href="javascript:void(0)" class="topline__account"><i>My Account</i></a>
            <a href="javascript:void(0)" class="topline__wishlist"><i>My WishList(2)</i></a>
            <a href="javascript:void(0)" class="topline__shoping-cart"><i>Shoping Cart</i></a>
            <a href="javascript:void(0)" class="topline__checkout"><i>Checkout</i></a>
        </div>
    </div>
</div>
<!-- END topline-->