/*:host {*/
  /*display: block;*/
  /*padding: 0 16px;*/
/*}*/

/*input {*/
  /*width: 250px;*/
/*}*/

/*ul {*/
  /*list-style-type: none;*/
  /*padding: 0 0 0 8px;*/
/*}*/

/*.l {*/
  /*padding-top: 56px;*/
/*}*/
.l {
  width: 960px;
  margin: 0 auto;
}
.l:before,
.l:after {
  content: " ";
  display: table;
}
.l:after {
  clear: both;
}
.l .l-col1 {
  float: left;
  width: 20%;
}
.l .l-col2 {
  float: right;
  width: 70%;
}